<h4>Search a Joke</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResult">
            <div class="form-group" >
                <label for="SearchString" class="control-label"></label>

                <input name="SearchString" class="form-control" />
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <input type="submit" value="Search" class="btn btn-dark" />
                
            </div>
            <style>
                .btn-dark:hover{
                    color: #fff;
                    background-color: #585c61;
                    border-color: #1a1e21;
                }
                .my-a {
                    margin-top:50px;
                }
             
            </style>
        </form>
    </div>
</div>

<div class="my-a">
    <a class=" text-black text-decoration-none" asp-controller ="Home" asp-action="Index">Back to the main page</a>
</div>


